Source: histring
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Tong Sun <suntong001@users.sourceforge.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://github.com/suntong/histring
Vcs-Git: https://github.com/suntong/histring.git
Vcs-Browser: https://github.com/suntong/histring
Rules-Requires-Root: no

Package: histring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: highlight strings using ANSI terminal escape sequences
 histring simply highlights strings using ANSI terminal escape codes.
 It is a general purpose highlighting tool that works with arbitrary
 input text file, and highlight different keywords in different colours.
 Very useful for any kind of text logs, or outputs like grep, diff, etc.
